@charset "utf-8";
/* CSS Document */
@font-face
{
	font-family:Monoton-Regular;
	src: url("../fonts/Monoton-Regular.ttf");
}
@font-face
{
	font-family:playball;
	src: url("../fonts/Playball.ttf");
}
@font-face
{
	font-family:dpark;
	src: url("../fonts/dpark.ttf");
}
@font-face
{
	font-family:sp;
	src: url("../fonts/Segoe Print.ttf");
}
body 
{
	margin:0;
	padding:0;
}
html
{
	margin:0;
	padding:0;
	width:100%;
}









