@charset "utf-8";
/* CSS Document */

@media only screen and (min-width: 1700px){ 

body
{
	font-size:20px;
}
.hidden_res
{
	width:2000px;
	height:1100px;
	color:black;
	background-color:#F7F7F7;
	background-image:url(../images/bk2.jpg);
	position:fixed;
	top:0px;
	left:3265px;
	z-index:999;
}
.menu 
{
	float:left;
	position:absolute;
	top:1800px;
	left:80px;
	width:160px;
}
.menu li
{
	margin-top:20px;
	font-size:1.5em;
	cursor:pointer;
	text-align:right;	
}
#klam1
{	
    position: absolute;
    top: 400px;
    left: 28%; 
    color: rgba(0,0,0,0.8);
    z-index: 1;
    animation: shadow 5.0s ease-in-out 1;
	font-size:6em;
	font-weight:bold;
	font-family:Verdana, Geneva, sans-serif;
	width:auto;
}
#klam2
{
	position: absolute;
    top: 550px;
    left: 34%; 
    color: rgba(0,0,0,0.8);
    z-index: 1;
    animation: shadow 5.0s ease-in-out 1;
	font-size:5em;
	font-weight:10;
	font-family:dpark;
	width:auto;
}

.noor {
    position: absolute;
    top: 350px;
	left: -320px;
    width: 320px;
    height: 320px; 
    opacity: 0.8;
    border-radius: 300px;
    z-index: 0;
    background: 
      -webkit-radial-gradient(center, ellipse cover, #fff 0%, rgba(255, 255, 255, 0.2) 100%); 
     box-shadow: 0px 0px 50px #fff;
    animation: noor 5.0s ease-in-out 1;
}

.two {z-index: 2;opacity: 0.8;}

@-webkit-keyframes noor 
{
    0% {left: 25%;}
    30% {left: 35%;}
    60%{left: 70%;}
    100% {left: 25%;}
}

@-webkit-keyframes shadow {
  0% {text-shadow: -9px 1px 4px #000;}
  50% {text-shadow: 9px 1px 4px #000; }
  100% {text-shadow: -9px 1px 4px #000;}    
}

.menu_e
{
	width:20%; 
	margin-left:4%;
	display:inline-block;
	vertical-align:top; 
	margin-top:0px; 
}
.menu_d
{
	width:20%; 
	margin-left:10%;
	display:inline-block;
	vertical-align:top; 
	margin-top:0px; 
}
}
/*>1400*/
@media only screen and (min-width: 1400px) and (max-width: 1699px){

body
{
	font-size:16px;
}
.hidden_res
{
	width:1223px;
	height:1000px;
	color:black;
	background-color:#F7F7F7;
	background-image:url(../images/bk2.jpg);
	position:fixed;
	top:0px;
	left:2420px;
	z-index:999;
}
.menu 
{
	float:left;
	position:absolute;
	top:1800px;
	left:60px;
	width:160px;
}
.menu li
{
	margin-top:20px;
	font-size:22px;
	cursor:pointer;
	text-align:right;	
}
#klam1
{	
    position: absolute;
    top: 270px;
    left: 28%; 
    color: rgba(0,0,0,0.8);
    z-index: 1;
    animation: shadow 5.0s ease-in-out 1;
	font-size:80px;
	font-weight:bold;
	font-family:Verdana, Geneva, sans-serif;
	width:auto;
}
#klam2
{
	position: absolute;
    top: 385px;
    left: 34%; 
    color: rgba(0,0,0,0.8);
    z-index: 1;
    animation: shadow 5.0s ease-in-out 1;
	font-size:65px;
	font-weight:10;
	font-family:dpark;
	width:auto;
}

.noor {
    position: absolute;
    top: 255px;
	left: -320px;
    width: 220px;
    height: 220px; 
    opacity: 0.8;
    border-radius: 200px;
    z-index: 0;
    background: 
      -webkit-radial-gradient(center, ellipse cover, #fff 0%, rgba(255, 255, 255, 0.2) 100%); 
     box-shadow: 0px 0px 50px #fff;
    animation: noor 5.0s ease-in-out 1;
}

.two {z-index: 2;opacity: 0.8;}

@-webkit-keyframes noor 
{
    0% {left: 25%;}
    30% {left: 45%;}
    60%{left: 65%;}
    100% {left: 25%;}
}

@-webkit-keyframes shadow {
  0% {text-shadow: -9px 1px 4px #000;}
  50% {text-shadow: 9px 1px 4px #000; }
  100% {text-shadow: -9px 1px 4px #000;}    
}

.menu_e
{
	width:25%; 
	margin-left:4%;
	display:inline-block;
	vertical-align:top; 
	margin-top:0px; 
}
.menu_d
{
	width:30%; 
	margin-left:10%;
	display:inline-block;
	vertical-align:top; 
	margin-top:0px; 
}
}
/*1440--1366*/
@media only screen and (min-width: 1300px) and (max-width: 1399px){ 

.hidden_res
{
	width:1223px;
	height:1024px;
	color:black;
	background-color:#F7F7F7;
	background-image:url(../images/bk2.jpg);
	position:fixed;
	top:0px;
	left:2320px;
	z-index:999;
}
.menu 
{
	float:left;
	position:absolute;
	top:1800px;
	left:60px;
	width:160px;
}
.menu li
{
	margin-top:20px;
	font-size:22px;
	cursor:pointer;
	text-align:right;	
}
.menu li
{
	margin-top:20px;
	font-size:22px;
	cursor:pointer;
	text-align:right;	
}
#klam1
{	
    position: absolute;
    top: 270px;
    left: 28%; 
    color: rgba(0,0,0,0.8);
    z-index: 1;
    animation: shadow 5.0s ease-in-out 1;
	font-size:80px;
	font-weight:bold;
	font-family:Verdana, Geneva, sans-serif;
	width:auto;
}
#klam2
{
	position: absolute;
    top: 385px;
    left: 34%; 
    color: rgba(0,0,0,0.8);
    z-index: 1;
    animation: shadow 5.0s ease-in-out 1;
	font-size:65px;
	font-weight:10;
	font-family:dpark;
	width:auto;
}

.noor {
    position: absolute;
    top: 255px;
	left: -320px;
    width: 200px;
    height: 200px; 
    opacity: 0.8;
    border-radius: 200px;
    z-index: 0;
    background: 
      -webkit-radial-gradient(center, ellipse cover, #fff 0%, rgba(255, 255, 255, 0.2) 100%); 
     box-shadow: 0px 0px 50px #fff;
    animation: noor 5.0s ease-in-out 1;
}

.two {z-index: 2;opacity: 0.8;}

@-webkit-keyframes noor 
{
    0% {left: 25%;}
    30% {left: 45%;}
    60%{left: 70%;}
    100% {left: 25%;}
}

@-webkit-keyframes shadow {
  0% {text-shadow: -9px 1px 4px #000;}
  50% {text-shadow: 9px 1px 4px #000; }
  100% {text-shadow: -9px 1px 4px #000;}    
}
.menu_e
{
	width:25%; 
	margin-left:4%;
	display:inline-block;
	vertical-align:top; 
	margin-top:0px; 
}
.menu_d
{
	width:25%; 
	margin-left:10%;
	display:inline-block;
	vertical-align:top; 
	margin-top:10%; 
}

}

/*ipad*/
@media only screen and (min-width: 1000px) and (max-width: 1299px){ 

body
{
	font-size:8px;
}
#klam1
{	
    position: absolute;
    top: 220px;
    left: 25%; 
    color: rgba(0,0,0,0.8);
    z-index: 1;
    animation: shadow 5.0s ease-in-out 1;
	font-size:60px;
	letter-spacing:0px;
	font-weight:bold;
	font-family:Verdana, Geneva, sans-serif;
	width:auto;
}
#klam2
{
	position: absolute;
    top: 315px;
    left: 33%; 
    color: rgba(0,0,0,0.8);
    z-index: 1;
    animation: shadow 5.0s ease-in-out 1;
	font-size:40px;
	font-weight:10;
	font-family:dpark;
	width:auto;
}

.noor {
    position: absolute;
    top: 195px;
	left: -320px;
    width: 200px;
    height: 200px; 
    opacity: 0.8;
    border-radius: 200px;
    z-index: 0;
    background: 
      -webkit-radial-gradient(center, ellipse cover, #fff 0%, rgba(255, 255, 255, 0.2) 100%); 
     box-shadow: 0px 0px 50px #fff;
    animation: noor 5.0s ease-in-out 1;
}

.two {z-index: 2;opacity: 0.8;}

@-webkit-keyframes noor 
{
    0% {left: 25%;}
    30% {left: 40%;}
    60%{left: 60%;}
    100% {left: 25%;}
}

@-webkit-keyframes shadow {
  0% {text-shadow: -9px 1px 4px #000;}
  50% {text-shadow: 9px 1px 4px #000; }
  100% {text-shadow: -9px 1px 4px #000;}    
}
.hidden_res
{
	width:1223px;
	height:1366px;
	color:black;
	background-color:#F7F7F7;
	background-image:url(../images/bk2.jpg);
	position:fixed;
	top:0px;
	left:1742px;
	z-index:999;
}
.menu 
{
	float:left;
	position:absolute;
	top:1800px;
	left:20px;
	width:160px;
}
.menu li
{
	margin-top:20px;
	font-size:22px;
	cursor:pointer;
	text-align:right;	
}
.menu_e
{
	width:18%; 
	margin-left:3%;
	display:inline-block;
	vertical-align:top; 
	margin-top:0px; 
}
.menu_d
{
	width:25%; 
	margin-left:10%;
	display:inline-block;
	vertical-align:top; 
	margin-top:0px; 
}

}
/*phone*/
@media only screen and (min-width: 700px) and (max-width: 999px){ 
body
{
	font-size:6px;
}

#klam1
{	
    position: absolute;
    top: 170px;
    left: 25%; 
    color: rgba(0,0,0,0.8);
    z-index: 1;
    animation: shadow 5.0s ease-in-out 1;
	font-size:45px;
	letter-spacing:0px;
	font-weight:bold;
	font-family:Verdana, Geneva, sans-serif;
	width:auto;
}
#klam2
{
	position: absolute;
    top: 230px;
    left: 35%; 
    color: rgba(0,0,0,0.8);
    z-index: 1;
    animation: shadow 5.0s ease-in-out 1;
	font-size:35px;
	font-weight:10;
	font-family:dpark;
	width:auto;
}

.noor {
    position: absolute;
    top: 165px;
	left: -320px;
    width: 100px;
    height: 100px; 
    opacity: 0.8;
    border-radius: 100px;
    z-index: 0;
    background: 
      -webkit-radial-gradient(center, ellipse cover, #fff 0%, rgba(255, 255, 255, 0.2) 100%); 
     box-shadow: 0px 0px 50px #fff;
    animation: noor 5.0s ease-in-out 1;
}

.two {z-index: 2;opacity: 0.8;}

@-webkit-keyframes noor 
{
    0% {left: 25%;}
    30% {left: 40%;}
    60%{left: 65%;}
    100% {left: 25%;}
}

@-webkit-keyframes shadow {
  0% {text-shadow: -9px 1px 4px #000;}
  50% {text-shadow: 9px 1px 4px #000; }
  100% {text-shadow: -9px 1px 4px #000;}    
}
.hidden_res
{
	width:1223px;
	height:1400px;
	color:black;
	background-color:#F7F7F7;
	background-image:url(../images/bk2.jpg);
	position:fixed;
	top:0px;
	left:1307px;
	z-index:999;
}
.menu 
{
	float:left;
	position:absolute;
	top:1800px;
	left:10px;
	width:160px;
}
.menu li
{
	margin-top:20px;
	font-size:22px;
	cursor:pointer;
	text-align:left;	
}
.menu_e
{
	width:11%; 
	margin-left:3%;
	display:inline-block;
	vertical-align:top; 
	margin-top:0px; 
}
.menu_d
{
	width:18%; 
	margin-left:3%;
	display:inline-block;
	vertical-align:top; 
	margin-top:0px; 
}
}


@media only screen and (min-width: 10px) and (max-width: 699px){ 

.hidden_res
{
	width:1223px;
	height:1000px;
	color:black;
	background-color:#F7F7F7;
	background-image:url(../images/bk2.jpg);
	position:fixed;
	top:0px;
	left:730px;
	z-index:999;
}
.menu 
{
	float:left;
	position:absolute;
	top:1800px;
	left:10px;
	width:160px;
}
.menu li
{
	margin-top:20px;
	font-size:22px;
	cursor:pointer;
	text-align:left;	
}
}





























