@charset "utf-8";
/* CSS Document */
@font-face
{
	font-family:Monoton-Regular;
	src: url("../fonts/Monoton-Regular.ttf");
}
@font-face
{
	font-family:playball;
	src: url("../fonts/Playball.ttf");
}
@font-face
{
	font-family:dpark;
	src: url("../fonts/dpark.ttf");
}
body
{
	margin:0;
	padding:0;
}
html
{
	margin:0;
	padding:0;
	width:100%;
}
#firstpage
{
	width:100%;
	height:auto;
	background-image:url(../images/tbk.jpg);
}
#firstpage h2
{
	font-size:4em;
	font-family:dpark;
	margin-left:33%;
}

#members h1
{
	font-size:2.5em;
	margin-left:10%;
}
#members h3
{
	font-size:1.25em;
	margin-left:15%;
}
#members h4
{
	font-size:0.6em;
	margin-left:15%;
}
.pic
{
	display:inline;
	width:40%;
}
#zhu img
{
	width:35%;
	height:13%;
	margin-left:8%;
	margin-bottom:2%;
}
#liu img
{
	
	width:35%;
	height:13%;
	margin-left:8%;
	margin-bottom:2%;
}
#qian img
{
	width:35%;
	height:13%;
	margin-left:8%;
	margin-bottom:2%;
}
#ran img
{
	
	width:35%;
	height:13%;
	margin-left:8%;
	margin-bottom:2%;
}
#sun img
{
	width:35%;
	height:13%;
	margin-left:8%;
	margin-bottom:2%;
}
#yang img
{
	width:35%;
	height:13%;
	margin-left:8%;
	margin-bottom:2%;
}
#xia img
{
	
	width:35%;
	height:13%;
	margin-left:8%;
	margin-bottom:2%;
}
.group
{
	vertical-align:top;
}
#bottom
{
	width:100%;
	height:130px;
	background-color:rgba(0,0,0,0.7);
	text-align:center;
}
#bottom h1
{
	margin:0px;
	font-size:15px;
	color:#FFF;
	font-weight:600;
}
#bottom h2
{

	margin:0px;
	font-size:15px;
	color:#FFF;
	font-weight:600;
}

#xiao
{
	display:inline-block;
	margin-left:15%;
	width:35%;
	height:auto;
}
#xiao img
{
	width:100%;
	height:auto;
}
#zhao
{
	display:inline-block;
	margin-left:0%;
	width:35%;
	height:auto;
}
#zhao img
{
	width:100%;
	height:auto;
}

#profyang
{
	height:auto;
	width:20%;
	display:inline-block;
	margin-left:10%;
	
}
#profyang img
{
	width:100%;
	height:auto;
}
#profli
{
	height:auto;
	width:20%;
	display:inline-block;
		margin-left:10%;
			margin-top:3%;
	
}
#profli img
{
	width:100%;
	height:auto;
}

#profhu
{
	height:auto;
	width:20%;
	display:inline-block;
			margin-left:10%;
				margin-top:3%;
	
}
#profhu img
{
	width:100%;
	height:auto;
}
#profzhan
{
	margin-left:10%;
		margin-top:3%;
	height:auto;
	width:20%;
	display:inline-block;
	
}
#profzhan img
{
	width:100%;
	height:auto;
}
#profxia
{
	height:auto;
	width:20%;
	display:inline-block;
	margin-left:10%;
	margin-top:3%;
	
}
#profxia img
{
	width:100%;
	height:auto;
}
#back
{
	position:fixed;
	top:0px;
	right:60px;
	width:5%;
}
#back img
{
	width:100%;
	height:auto;
}
@media only screen and (min-width: 1600px){ 
body
{
	font-size:20px;
}
#rignt
{
	position:absolute;
	margin-left:60%;
	margin-top:-12%;
}
#img1
{
	width:14em;
	height:auto;
	margin-left:20%;
	margin-bottom:30px;
}
#img2
{
	width:18em;
	height:auto;
	margin-left:5%;
	margin-bottom:30px;
}
#img3
{
	width:14em;
	height:auto;
	margin-left:5%;
	margin-bottom:30px;
}
}
@media only screen and (min-width: 1400px) and (max-width: 1599px){ 
body
{
	font-size:16px;
}
#rignt
{
	position:absolute;
	margin-left:62%;
	margin-top:-15%;
}


#img1
{
	width:14em;
	height:auto;
	margin-left:20%;
	margin-bottom:30px;
}
#img2
{
	width:18em;
	height:auto;
	margin-left:5%;
	margin-bottom:30px;
}
#img3
{
	width:14em;
	height:auto;
	margin-left:5%;
	margin-bottom:30px;
}
}
@media only screen and (min-width: 1300px) and (max-width: 1399px){ 
body
{
	font-size:16px;
}
#rignt
{
	position:absolute;
	margin-left:65%;
	margin-top:-14%;
	width:100px;
	height:auto;
}
#img1
{
	width:14em;
	height:auto;
	margin-left:20%;
	margin-bottom:30px;
}
#img2
{
	width:18em;
	height:auto;
	margin-left:5%;
	margin-bottom:30px;
}
#img3
{
	width:14em;
	height:auto;
	margin-left:5%;
	margin-bottom:30px;
}
}
@media only screen and (min-width: 1000px) and (max-width: 1299px){ 
body
{
	font-size:12px;
}
#rignt
{
	position:absolute;
	margin-left:65%;
	margin-top:-15%;
	width:80px;
	height:auto;
}
#img1
{
	width:14em;
	height:auto;
	margin-left:20%;
	margin-bottom:30px;
}
#img2
{
	width:18em;
	height:auto;
	margin-left:5%;
	margin-bottom:30px;
}
#img3
{
	width:14em;
	height:auto;
	margin-left:5%;
	margin-bottom:30px;
}
}
@media only screen and (min-width: 700px) and (max-width: 999px){ 
body
{
	font-size:10px;
}
#rignt
{
	position:absolute;
	margin-left:74%;
	margin-top:-15%;
}
#rignt
{
	position:absolute;
	margin-left:66%;
	margin-top:-15%;
	width:50px;
	height:auto;
}
#img1
{
	width:100px;
	height:auto;
	margin-left:20%;
	margin-bottom:30px;
}
#img2
{
	width:131px;
	height:auto;
	margin-left:5%;
	margin-bottom:30px;
}
#img3
{
	width:100px;
	height:auto;
	margin-left:5%;
	margin-bottom:30px;
}
}
@media only screen and (max-width: 999px){ 
body
{
	font-size:6px;
}
#rignt
{
	position:absolute;
	margin-left:74%;
	margin-top:-15%;
}
#rignt
{
	position:absolute;
	margin-left:66%;
	margin-top:-15%;
	width:50px;
	height:auto;
}
#img1
{
	width:100px;
	height:auto;
	margin-left:20%;
	margin-bottom:30px;
}
#img2
{
	width:131px;
	height:auto;
	margin-left:5%;
	margin-bottom:30px;
}
#img3
{
	width:100px;
	height:auto;
	margin-left:5%;
	margin-bottom:30px;
}
}



















